body{
  display:flex;
  min-height:100vh;
  flex-direction:column;
}

main{
  flex:1 0 auto;
}

#mapa{
  width:500px;
  height:300px;
}

#fondoRegistrarse{
  background-image:url("../../Img/fondoRegistrarse.jpg");
  background-repeat:repeat;
  background-position:left center;
  background-size:cover;
  height:690px;
}

#fondoLogin{
  background-image: url("../../Img/fondoLogin.jpeg");
  background-repeat:repeat;
  background-position:left center;
  background-size:cover;
  height:640px;
}